:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 1.5rem;
  background-color: #1e1e2f !important;
  color: white;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  background-color: #161622 !important;
  border-top: 1px solid #333;
  padding: 1rem;
}

.btn-confirm {
  background: linear-gradient(to right, #10b981, #059669);
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(16, 185, 129, 0.4);
  transition: all 0.2s ease;
}

.btn-confirm:hover {
  background: linear-gradient(to right, #059669, #047857);
}

.btn-cancel {
  background: #374151;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background 0.2s ease;
}

.btn-cancel:hover {
  background: #4b5563;
}

@media (max-width: 600px) {
  :host ::ng-deep .p-dialog {
    width: 90vw !important;
  }
}



:host ::ng-deep .p-inputtext {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-weight: bold;
  border-radius: 0.5rem;
}

:host ::ng-deep .p-inputnumber-button {
  background-color: #1f2937 !important; /* gris oscuro */
  color: #ffffff !important;
  border: none !important;
}

:host ::ng-deep .p-inputnumber-input {
  color: #000000 !important;
  background-color: #ffffff !important;
}
