<div class="esperando-wrapper p-p-4">
  <h2 class="text-center text-yellow-400">⏳ Esperando a más jugadores...</h2>

  <p class="text-center p-mt-2 text-white">
    ¡Prepara tu equipo, el juego comenzará pronto! 🎮🔥
  </p>

  <div class="p-d-flex p-flex-wrap p-jc-center p-mt-4 miembros-lista">
    <div *ngFor="let m of miembros" class="miembro-card p-p-3">
      <i class="pi pi-user"></i>
      <span>{{ m.username }}</span>
    </div>
  </div>

  <div *ngIf="esCreador()" class="p-mt-4 p-d-flex p-jc-center">
    <button pButton icon="pi pi-play" label="🚀 Iniciar Liga" class="p-button-warning" (click)="iniciarLiga()"></button>
  </div>
</div>
