<div class="container">
    <!-- Lista de jugadores disponibles -->
    <div class="players-list" cdkDropList [cdkDropListData]="players">
      <h3>Jugadores disponibles</h3>
      <div *ngFor="let player of players" cdkDrag [cdkDragData]="player" class="player">
        {{ player.name }}
      </div>
    </div>

    <!-- Cancha de baloncesto -->

    <div class="court">

      <img src="../../assets/basketball-court.png" alt="Cancha de Baloncesto" />

      <!-- Posiciones para arrastrar jugadores -->
      <div *ngFor="let pos of positions" class="position" [ngStyle]="{'top': pos, 'left': pos.id}"
           cdkDropList [cdkDropListData]="pos" (cdkDrop)="dropPlayer(pos, $event)">
        <span *ngIf="pos.player">{{ pos.player }}</span>
      </div>
    </div>
  </div>
