/* Especificamos el fondo y los colores para asegurar una visibilidad adecuada */
table {
  background-color: #1f2937;
}

thead {
  background-color: #0f172a;
}

td, th {
  color: #ffffff !important;
  padding: 0.75rem;
}

/* Estilo para la imagen */
img {
  object-fit: cover;
  border-radius: 50%;
  width: 56px; /* Tamaño estándar para todas las fotos */
  height: 56px;
}

/* Estilos adicionales para el radar */
.p-chart {
  background-color: #0f172a !important;
  border-radius: 8px;
  padding: 16px;
}
.p-chart canvas {
  background-color: transparent !important;
}

.p-chart {
  border: 2px solid #FACC15;
  box-shadow: 0 0 10px rgba(250, 204, 21, 0.5);
}
::ng-deep .p-dialog .p-dialog-content {
  background-color: #1f2937 !important;
  color: #fff !important;
}
::ng-deep .p-dialog .p-dialog-header {
  background-color: #111827 !important;
  color: #FACC15 !important;
}
/* Scroll vertical elegante en tabla */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #111827;
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-radius: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #111827;
}

/* Fijar cabecera en scroll largo */
table thead tr {
  position: sticky;
  top: 0;
  background-color: #0f172a;
  z-index: 10;
}
