/* Especificamos el fondo y los colores para asegurar una visibilidad adecuada */
table {
  background-color: #1f2937;
}

thead {
  background-color: #0f172a;
}

td, th {
  color: #ffffff !important;
  padding: 0.75rem;
}

/* Estilo para la imagen */
img {
  object-fit: cover;
  border-radius: 50%;
  width: 56px; /* Tamaño estándar para todas las fotos */
  height: 56px;
}

/* Estilos adicionales para el radar */
.p-chart {
  background-color: #0f172a !important;
  border-radius: 8px;
  padding: 16px;
}
