.gestionar-panel {
  background: linear-gradient(to bottom, #1b1c3f, #0f1028);
  border-radius: 1rem;
  color: white;

  .titulo {
    text-align: center;
    font-size: 1.7rem;
    color: #ffca28;
    margin-bottom: 1rem;
  }

  .miembro-card {
    background-color: #283593;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    box-shadow: 0 0 10px #00000055;
  }
}
