<div class="chat-window">
  <!-- 🧾 Zona de mensajes -->
  <div #scrollContainer class="message-zone">
    <div
      *ngFor="let mensaje of mensajesOrdenados"
      class="message-bubble"
      [ngStyle]="{
        'background-color': getColorClase(mensaje.remitenteId ?? undefined, mensaje.grupoId ?? undefined),
        'margin-left': mensaje.remitenteId === usuarioActual.id ? 'auto' : '0',
        'margin-right': mensaje.remitenteId !== usuarioActual.id ? 'auto' : '0',
        'text-align':
          mensaje.remitenteId === usuarioActual.id ? 'right' : 'left',
        color: 'black'
      }"
    >
      <div
        class="message-sender"
        *ngIf="mensaje.remitenteId !== usuarioActual.id || mensaje.grupoId"
      >
        {{ mensaje.remitenteNombre }}
        <span *ngIf="mensaje.remitenteAlias" class="message-alias">
          {{ "@" + mensaje.remitenteAlias }}
        </span>
      </div>

      <div class="message-content">{{ mensaje.contenido }}</div>
      <div class="message-time">{{ mensaje.timestamp | date : "HH:mm" }}</div>
    </div>
  </div>

  <!-- 📝 Input de mensaje -->
  <div class="message-input-box">
    <input
      type="text"
      [(ngModel)]="nuevoMensaje"
      placeholder="Escribe tu mensaje..."
      (keydown.enter)="enviar()"
      class="message-input"
    />
    <button (click)="enviar()" class="message-send-btn">
      <i class="pi pi-send text-base"></i>
    </button>
  </div>
</div>
