:host ::ng-deep .p-menubar {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1.5rem;
  font-family: 'Segoe UI', sans-serif;
}

:host ::ng-deep .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  color: #333;
  font-weight: 500;
  transition: background 0.3s;
}

:host ::ng-deep .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
  background-color: #f0f0f0;
  border-radius: 6px;
}

.user-info {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.vip-badge {
  background: linear-gradient(90deg, #FFD700, #FFA500);
  color: black;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  margin-top: 4px;
  box-shadow: 0 0 6px rgba(255, 215, 0, 0.8);
}
.avatar-navbar {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  border-radius: 9999px;
  border: 2px solid #FFD700; /* fantasyGold */
  box-shadow: 0 0 5px #FFD700;
}
