<div class="canjear-wrapper">
  <h2>Canjea tu Código</h2>

  <input [(ngModel)]="codigo" type="text" placeholder="Introduce tu código" />

  <button (click)="canjear()">Verificar Código</button>
  <div
    class="mensaje"
    [ngClass]="{
      success: mensaje.startsWith('✅'),
      error: mensaje.startsWith('❌'),
      warning: mensaje.startsWith('⚠️')
    }"
    *ngIf="mensaje"
  >
    {{ mensaje }}
  </div>

  <div *ngIf="resultado" class="resultado">
    <p><strong>Código:</strong> {{ resultado.codigo }}</p>
    <p><strong>Producto:</strong> {{ resultado.producto_id[1] }}</p>
    <p><strong>Pedido ID:</strong> {{ resultado.pedido_id }}</p>
  </div>
</div>
